<!-- Content of the help tab -->
<div>
	<center>
		<div class="title">
			NEED <b>HELP ?</b>
		</div>
	</center>
	<div class="titleRect">Frequently Asked Questions</div>
	<div class="helpBody">
		<h5>Why should I provide my Last.fm Username?</h5>
		Providing your Last.fm Username will allow the system to get an even
		broader picture of your taste of music, given you are using the
		Last.fm service for some time. We will only access data that is
		publicly available on your Last.fm account. With the additional
		information you will be able to use two recommenders that are only
		available to users providing their Last.fm name.
		<div class="hline"></div>

		<h5>Why can't I play any of the recommended songs?</h5>

		The most probable reason is that you haven't installed the <a
			href="http://www.spotify.com" target="_blank">Spotify</a> music
		streaming client on your computer. As we are using this service to
		allow direct listening of the recommended songs you will not be able
		to do so without Spotify installed. To overcome this issue either
		install spotify or look for the recommended songs in your favorite
		music service.
		<div class="hline"></div>

		<h5>Are recommendations only improving over night?</h5>
		To improve recommendations we have to take your newly made ratings
		into account. As this task takes some time and computation power we
		are performing it every night. This will keep your MuSe experience at
		its best and we hope you will come back to look for new
		recommendations the next day!
		<div class="hline"></div>

		<h5>How can I change my password?</h5>
		To change your password open the user menu (user icon in the upper
		right corner) and click on "My Profile". Then click on the "Change
		Profile" button and easily change you password.
		<div class="hline"></div>

		<h5>How can I delete my account?</h5>
		To delete your account open the user menu (user icon in the upper
		right corner) and click on "My Profile". Then click "Delete Account"
		and type in your current password.
		<div class="hline"></div>

	</div>
</div>
